<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Star Rating
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ionic5-star-rating id="star-rating"
      #rating1
      activeIcon="star"
      defaultIcon="star"
      activeColor="#006161"
      defaultColor="#dfdfdf"
      readonly="false"
      rating="3"
      fontSize="32px"
      (ratingChanged)="logRatingChange1($event)"
    >
    </ionic5-star-rating>

    <ionic5-star-rating id="star-rating"
      #rating2
      activeIcon="star"
      defaultIcon="star"
      activeColor="#006161"
      defaultColor="#dfdfdf"
      readonly="false"
      rating="4"
      fontSize="32px"
      (ratingChanged)="logRatingChange2($event)"
    >
    </ionic5-star-rating>
  </div>
</ion-content>
